@import "./client/cms/cms.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: mellyFont;
  src: url(./client/utils/Wellfleet-Regular.ttf);
}

@layer base {
  html {
    font-family: mellyFont, system-ui, sans-serif;
    @apply bg-color-def;
  }

  #app {
    @apply max-w-[1280px] mx-auto h-screen bg-color-def text-color-sec text-sm;
  }
  .app-container {
    @apply w-[90%] sm:w-[80%] lg:w-[70%] mx-auto mt-32 drop-shadow-2xl shadow-md shadow-color-ter;
  }
  main {
    @apply mx-auto;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-color-ter;
  }

  h1 {
    @apply text-3xl sm:text-4xl md:text-5xl mt-5 mb-1 !important;
  }

  h2 {
    @apply text-2xl sm:text-3xl md:text-4xl mt-4 mb-2;
  }

  h3 {
    @apply text-2xl md:text-3xl mt-3 mb-2;
  }

  h4 {
    @apply text-xl md:text-2xl mt-2 mb-1;
  }

  h5 {
    @apply text-xl mt-2 mb-1;
  }

  h6 {
    @apply text-lg my-1;
  }

  p {
    @apply mb-3 last:mb-0 first:mt-0;
  }
  p img {
    @apply my-1;
  }

  a {
    @apply text-color-pri;
  }
  blockquote {
    @apply bg-color-pri/20 px-5 py-2 mx-2 my-4;
  }

  #mobileSocialLinks a {
    @apply text-color-sec;
  }

  article {
    @apply bg-color-ter rounded-2xl p-5 prose-sm md:prose-base;
  }
  article h2 {
    @apply text-2xl sm:text-3xl md:text-4xl text-color-def mt-4 mb-2;
  }
  article h3 {
    @apply text-2xl md:text-3xl text-color-def mt-3 mb-2;
  }
  article h4 {
    @apply text-xl md:text-2xl text-color-def mt-2 mb-1;
  }
  article h5 {
    @apply text-xl text-color-def mt-2 mb-1;
  }
  article h6 {
    @apply text-lg text-color-def my-1;
  }

  .bounce {
    @apply cursor-wait animate-bounce bg-color-def text-gray-600 !important;
  }
  input[type="button"],
  input[type="submit"] {
    @apply cursor-pointer disabled:text-gray-600 p-2 border-4 rounded-lg mx-2;
  }

  .button-pri,
  .form-ui input[type="submit"].button-pri {
    @apply cursor-pointer bg-color-pri text-color-sec p-2 inline-block border-4 rounded-lg m-2 text-center;
  }
  .button-sec,
  .form-ui input[type="submit"].button-sec {
    @apply cursor-pointer bg-color-ter text-color-def p-2 inline-block border-4 rounded-lg m-2 text-center;
  }
  /*  textarea {
    @apply text-black;
  } */

  iframe {
    @apply max-w-full;
  }
}
