/* @import "./utils/css/beautify.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: mellyFont;
  src: url(./client/utils/Wellfleet-Regular.ttf);
}

@layer base {
  html {
    font-family: mellyFont, system-ui, sans-serif;
    @apply bg-color-def;
  }

  #app {
    @apply max-w-[1280px] mx-auto h-screen bg-color-def text-color-sec text-sm;
  }
  .app-container {
    @apply w-[90%] sm:w-[80%] lg:w-[70%] mx-auto mt-32 drop-shadow-2xl shadow-md shadow-color-ter;
  }
  main {
    @apply mx-auto;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-color-ter;
  }

  h1 {
    @apply text-3xl sm:text-4xl md:text-5xl mt-5 mb-1 !important;
  }

  h2 {
    @apply text-2xl sm:text-3xl md:text-4xl mt-4 mb-2;
  }

  h3 {
    @apply text-2xl md:text-3xl mt-3 mb-2;
  }

  h4 {
    @apply text-xl md:text-2xl mt-2 mb-1;
  }

  h5 {
    @apply text-xl mt-2 mb-1;
  }

  h6 {
    @apply text-lg my-1;
  }

  p {
    @apply mb-3 last:mb-0 first:mt-0;
  }
  p img {
    @apply my-1;
  }

  a {
    @apply text-color-pri;
  }
  blockquote {
    @apply bg-color-pri/20 px-5 py-2 mx-2 my-4;
  }

  #mobileSocialLinks a {
    @apply text-color-sec;
  }

  article {
    @apply bg-color-ter rounded-2xl p-5 prose-sm md:prose-base;
  }
  article h2 {
    @apply text-2xl sm:text-3xl md:text-4xl text-color-def mt-4 mb-2;
  }
  article h3 {
    @apply text-2xl md:text-3xl text-color-def mt-3 mb-2;
  }
  article h4 {
    @apply text-xl md:text-2xl text-color-def mt-2 mb-1;
  }
  article h5 {
    @apply text-xl text-color-def mt-2 mb-1;
  }
  article h6 {
    @apply text-lg text-color-def my-1;
  }

  .bounce {
    @apply cursor-wait animate-bounce bg-color-def text-gray-600 !important;
  }
  input[type="button"],
  input[type="submit"] {
    @apply cursor-pointer disabled:text-gray-600;
  }

  .button-pri {
    @apply bg-color-pri text-color-sec p-2 text-center;
  }
  /*  textarea {
    @apply text-black;
  } */

  iframe {
    @apply max-w-full;
  }

  /* FormUi styling */
  .form-ui {
    @apply mx-auto bg-color-pri/20 p-10 shadow-lg;
  }
  .form-ui .form-item {
    @apply mb-4;
  }
  .form-ui .form-item.form-item-select,
  .form-ui .form-item.form-item-radio,
  .form-ui .form-item.form-item-checkbox {
    @apply flex gap-4 items-center;
  }
  .form-ui .form-input {
    @apply px-4 rounded-full block w-full;
  }
  .form-ui .form-input[type="radio"] {
    @apply w-fit inline-block;
  }
  .form-ui .form-input[type="checkbox"] {
    @apply rounded-none w-fit;
  }
  .form-ui select.form-input {
    @apply rounded-md w-fit;
  }
  .form-ui .form-item .radio-container,
  .form-ui .form-item .checkbox-container {
    @apply mt-3 ml-6 flex gap-4;
  }
  .form-ui .form-item .radio-option,
  .form-ui .form-item .checkbox-option {
    @apply flex gap-1 items-center;
  }
  .form-ui textarea.form-input {
    @apply rounded-lg;
  }
  .form-ui .form-label {
    @apply ml-5 text-xl border-b-4 border-color-sec capitalize;
  }
  .form-ui .form-button-group {
    @apply mt-5 mx-auto w-fit flex gap-3;
  }
  .form-ui input[name="form-button"] {
    @apply p-2 capitalize;
  }
  .form-ui input[type="submit"] {
    @apply bg-color-pri;
  }
  .form-ui .form-item-notice {
    @apply first-letter:capitalize ml-5;
  }
  .form-ui #form-actions-notice {
    @apply text-center first-letter:capitalize my-3;
  }
}
